@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 공통 컬러시스템
 * 작성자 : 김윤지
 * 작성일 : 2025.10.16
 */

:root {

	--header-height: 88px;
	--header-height-md: 48px;
	--unity-height: 48px;
	
	--gnb-top: var(--header-height);
	--gnb-width: 56px;
    --gnb-width-active: 240px;

    --gnb-font-weight-normal: 400;
    --gnb-font-weight-bold: 500;
    --gnb-font-size-depth1: 14px;
    --gnb-font-size-depth2: 13px;
    --gnb-font-size-depth3: 12px;

	--wp-modal-width: 1864px;
	--wp-side-panel-width: 360px;
	--wp-mordal-split-padding: 2.5rem;

	/* color primitives */
	--black-50: #11111105;
	--black-100: #1111110D;
	--black-200: #11111133;
	--black-300: #1111114D;
	--black-400: #11111166;
	--black-500: #111111A3;
	--black-600: #111111B7;
	--black-700: #111111D6;
	--black-800: #111111EB;
	--black-900: #111111FF;

    --white-50: #ffffff0D;
    --white-100: #ffffff1A;
	--white-200: #ffffff33;
	--white-300: #ffffff4D;
	--white-400: #ffffff66;
	--white-500: #ffffffA3;
	--white-600: #ffffffB7;
	--white-700: #ffffffD6;
	--white-800: #ffffffEB;
	--white-900: #ffffffFF;

    --white: var(--white-900);
	
	--blue-50: #F5FBFF;
	--blue-100: #DBF0FF;
	--blue-200: #B4E0FF;
	--blue-300: #73BDFA;
	--blue-400: #45A5F5;
	--blue-500: #0078D4;
	--blue-600: #0060A9;
	--blue-700: #023B66;
	--blue-800: #032F52;
	--blue-900: #0A2133;

	--blue-special-1: #1D77D1;
	--blue-special-2: #0052A3;
	
	--red-50: #FFF7F9;
	--red-100: #FFEBF0;
	--red-200: #FFD6E2;
	--red-300: #FFADC5;
	--red-400: #FF1255;
	--red-500: #DF134C;
	--red-600: #B30435;
	--red-700: #840025;
	--red-800: #5B001A;
	--red-900: #3E0011;
	
	--green-50: #F1FBF4;
	--green-100: #C0F0CB;
	--green-200: #ABEDBA;
	--green-300: #50E26F;
	--green-400: #0AB830;
	--green-500: #038A20;
	--green-600: #026E1A;
	--green-700: #045816;
	--green-800: #064213;
	--green-900: #062D0E;
	
	--orange-50: #FFF3F0;
	--orange-100: #FFE2DB;
	--orange-200: #FFC6B8;
	--orange-300: #FF9D85;
	--orange-400: #F24216;
	--orange-500: #B82500;
	--orange-600: #8F1D00;
	--orange-700: #701600;
	--orange-800: #521000;
	--orange-900: #2E150F;
	
	--pink-50: #FFF0FB;
	--pink-100: #F5D3EB;
	--pink-200: #FFB8EB;
	--pink-300: #FF99E2;
	--pink-400: #FF66D2;
	--pink-500: #CC0092;
	--pink-600: #99006D;
	--pink-700: #650B4C;
	--pink-800: #450C35;
	--pink-900: #260D1F;
	
	--yellow-50: #FFF8EB;
	--yellow-100: #F5E4C4;
	--yellow-200: #FFE3AD;
	--yellow-300: #FACC6E;
	--yellow-400: #FAB832;
	--yellow-500: #E5A012;
	--yellow-600: #A06C03;
	--yellow-700: #7A5200;
	--yellow-800: #503701;
	--yellow-900: #3B2802;
	
	--purple-50: #FDF5FF;
	--purple-100: #FAE5FF;
	--purple-200: #F7CCFF;
	--purple-300: #EE99FF;
	--purple-400: #E770FF;
	--purple-500: #CC00F5;
	--purple-600: #AB00CC;
	--purple-700: #7F0099;
	--purple-800: #550066;
	--purple-900: #33003D;
	
	--cyan-50: #EFFBFE;
	--cyan-100: #C4EBF5;
	--cyan-200: #A1E6F7;
	--cyan-300: #66D8F5;
	--cyan-400: #19C5F0;
	--cyan-500: #0080A0;
	--cyan-600: #016179;
	--cyan-700: #015165;
	--cyan-800: #014151;
	--cyan-900: #01313D;
	
	--slate-50: #F7F8FA;
	--slate-100: #E1E5EB;
	--slate-200: #CAD1DC;
	--slate-300: #B6BFCC;
	--slate-400: #99A4B2;
	--slate-500: #5E6570;
	--slate-600: #535963;
	--slate-700: #454A52;
	--slate-800: #31343A;
	--slate-900: #1D2023;
	
	--gray-50: #FAFAFA;
	--gray-100: #E5E5E5;
	--gray-200: #E0E0E0;
	--gray-300: #CCCCCC;
	--gray-400: #B8B8B8;
	--gray-500: #767676;
	--gray-600: #4D4D4D;
	--gray-700: #3D3D3D;
	--gray-800: #333333;
	--gray-900: #242424;

	/* color */
	--bg-default-default: var(--white);
	--bg-default-defaulthover: var(--gray-50);
	--bg-default-secondary: var(--gray-100);
	--bg-default-secondaryhover: var(--gray-200);
	--bg-default-tertiary: var(--gray-300);
	--bg-default-tertiaryhover: var(--gray-400);

	--bg-neutral-default: var(--slate-500);
	--bg-neutral-defaulthover: var(--slate-600);
	--bg-neutral-secondary: var(--slate-100);
	--bg-neutral-secondaryhover: var(--slate-200);
	--bg-neutral-tertiary: var(--slate-50);
	--bg-neutral-tertiaryhover: var(--slate-100);

	--bg-brand-default: var(--blue-500);
	--bg-brand-defaulthover: var(--blue-600);
	--bg-brand-secondary: var(--blue-200);
	--bg-brand-secondaryhover: var(--blue-300);
	--bg-brand-tertiary: var(--blue-50);
	--bg-brand-tertiaryhover: var(--blue-100);
	--bg-brand-dark: var(--blue-700);
	--bg-brand-darkhover: var(--blue-800);
	--bg-brand-darkest: var(--blue-900);

	--bg-positive-default: var(--green-500);
	--bg-positive-defaulthover: var(--green-600);
	--bg-positive-secondary: var(--green-200);
	--bg-positive-secondaryhover: var(--green-300);
	--bg-positive-tertiary: var(--green-100);
	--bg-positive-tertiaryhover: var(--green-200);

	--bg-warning-default: var(--yellow-400);
	--bg-warning-defaulthover: var(--yellow-500);
	--bg-warning-secondary: var(--yellow-200);
	--bg-warning-secondaryhover: var(--yellow-100);
	--bg-warning-tertiary: var(--yellow-100);
	--bg-warning-tertiaryhover: var(--yellow-200);
	--bg-warning-lightbg: var(--yellow-50);

	--bg-danger-default: var(--red-600);
	--bg-danger-defaulthover: var(--red-700);
	--bg-danger-secondary: var(--red-200);
	--bg-danger-secondaryhover: var(--red-300);
	--bg-danger-tertiary: var(--red-100);
	--bg-danger-tertiaryhover: var(--red-200);

	--bg-disabled-default: var(--slate-50);

	/* --bg-utilities-scrim: #ffffff80;
	--bg-utilities-blanket: #00000070;
	--bg-utilities-overlay: #00000050;
	--bg-utilities-measurement: #ffb8ff; */
	--bg-danger-highlight: #ff6c47;
	

	/* text */
	--text-default-default: var(--gray-900);
	--text-default-secondary: var(--gray-500);
	--text-default-tertiary: var(--gray-400);

	--text-neutral-default: var(--slate-800);
	--text-neutral-secondary: var(--slate-700);
	--text-neutral-tertiary: var(--slate-600);
	--text-neutral-onneutral: var(--slate-100);
	--text-neutral-onneutralsecondary: var(--slate-900);
	--text-neutral-onneutraltertiary: var(--slate-800);

	--text-brand-default: var(--blue-700);
	--text-brand-secondary: var(--blue-600);
	--text-brand-tertiary: var(--blue-500);
	--text-brand-onneutral: var(--blue-100);
	--text-brand-onneutralsecondary: var(--blue-900);
	--text-brand-onneutraltertiary: var(--blue-800);

	--text-disabled-default: var(--gray-500);
	--text-disabled-ondisabled: var(--gray-500);

	--text-utilities-textonoverlay: var(--gray-900);
	--text-utilities-textonmeasurement: var(--pink-800);

	--text-positive-default: var(--green-800);
	--text-positive-secondary: var(--green-600);
	--text-positive-tertiary: var(--green-500);
	--text-positive-onneutral: var(--green-100);
	--text-positive-onneutralsecondary: var(--green-800);
	--text-positive-onneutraltertiary: var(--green-700);

	--text-warning-default: var(--yellow-800);
	--text-warning-secondary: var(--yellow-600);
	--text-warning-tertiary: var(--yellow-500);
	--text-warning-onwarning: var(--yellow-100);
	--text-warning-onwarningsecondary: var(--yellow-800);
	--text-warning-onwarningtertiary: var(--yellow-700);

	--text-danger-default: var(--red-700);
	--text-danger-secondary: var(--red-600);
	--text-danger-tertiary: var(--red-500);
	--text-danger-ondanger: var(--red-100);
	--text-danger-ondangersecondary: var(--red-800);
	--text-danger-ondangertertiary: var(--red-700);

	--text-default-white: var(--white);

	/* border */
	--border-default-default: var(--gray-200);
	--border-default-secondary: var(--gray-400);
	--border-default-tertiary: var(--gray-600);
	--border-default-white: var(--white);

	--border-neutral-default: var(--slate-300);
	--border-neutral-secondary: var(--slate-200);
	--border-neutral-tertiary: var(--slate-100);

	--border-brand-default: var(--blue-600);
	--border-brand-secondary: var(--blue-500);
	--border-brand-tertiary: var(--blue-50);
	--border-brand-dark: var(--blue-700);
	--border-brand-darkhover: var(--blue-800);

	--border-positive-default: var(--green-800);
	--border-positive-secondary: var(--green-600);
	--border-positive-tertiary: var(--green-500);

	--border-warning-default: var(--yellow-800);
	--border-warning-secondary: var(--yellow-700);
	--border-warning-tertiary: var(--yellow-600);

	--border-danger-default: var(--red-800);
	--border-danger-secondary: var(--red-700);
	--border-danger-tertiary: var(--red-600);

	--border-disabled-default: var(--slate-100);
	--border-disabled-ondisabled: var(--slate-200);

	--border-utilities-measurement: var(--pink-400);
	--border-utilities-swatch: var(--black-200);

	/* icon */
	--icon-default-default: var(--gray-900);
	--icon-default-secondary: var(--gray-500);
	--icon-default-tertiary: var(--gray-400);
	--icon-default-white: var(--white);

	--icon-neutral-default: var(--gray-800);
	--icon-neutral-secondary: var(--gray-700);
	--icon-neutral-tertiary: var(--gray-600);
	--icon-neutral-onneutral: var(--slate-100);
	--icon-neutral-onneutralsecondary: var(--slate-900);
	--icon-neutral-onneutraltertiary: var(--slate-800);

	--icon-brand-default: var(--blue-800);
	--icon-brand-secondary: var(--blue-600);
	--icon-brand-tertiary: var(--blue-50);
	--icon-brand-onneutral: var(--blue-100);
	--icon-brand-onneutralsecondary: var(--blue-900);
	--icon-brand-onneutraltertiary: var(--blue-800);

	--icon-positive-default: var(--green-800);
	--icon-positive-secondary: var(--green-600);
	--icon-positive-tertiary: var(--green-500);
	--icon-positive-onneutral: var(--green-100);
	--icon-positive-onneutralsecondary: var(--green-800);
	--icon-positive-onneutraltertiary: var(--green-900);
	
	--icon-warning-default: var(--yellow-800);
	--icon-warning-secondary: var(--yellow-600);
	--icon-warning-tertiary: var(--yellow-500);
	--icon-warning-onwarning: var(--yellow-100);
	--icon-warning-onwarningsecondary: var(--yellow-800);
	--icon-warning-onwarningtertiary: var(--yellow-900);

	--icon-danger-default: var(--red-800);
	--icon-danger-secondary: var(--red-600);
	--icon-danger-tertiary: var(--red-500);
	--icon-danger-ondanger: var(--red-100);
	--icon-danger-ondangersecondary: var(--red-800);
	--icon-danger-ondangertertiary: var(--red-900);

	--icon-disabled-default: var(--gray-400);
	--icon-disabled-ondisabled: var(--gray-400);

	--icon-utilities-textonoverlay: var(--pink-600);
	--icon-utilities-textonmeasurement: var(--pink-800);

	--font-family: "Noto Sans KR";
	--font-family-en: "Roboto", "Noto Sans KR", sans-serif;

	--transition-custom: all 0.4s ease-in-out;
	--transition-custom2: all 0.8s ease-in-out;

	/* btn */
	--bs-border-radius: .25rem;
	--bs-border-radius-xs: .125rem;
	--wp-border-radius-full: 1000px;

	/* nav-link */
	--bs-nav-link-padding-y: .25rem;
	--bs-nav-tabs-link-active-bg: var(--blue-500);
	
	/* border */
	--bs-border-color: var(--slate-300);

    /* box-shadow */
    --box-shadow-1: 0 0px 8px 0 rgba(0, 0, 0, 0.24);
    --box-shadow-2: 0 0px 4px 0 rgba(0, 0, 0, 0.24);
	--winbox-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.64);

	/* BS override style */
	--bs-link-color: var(--slate-800);
	--bs-link-hover-color: var(--blue-600);
	--bs-secondary-color: var(--slate-500);	
	--bs-emphasis-color: var(--blue-800);

	--bs-nav-underline-link-active-color: var(--text-brand-default);
	/* --bs-nav-link-color: var(--text-neutral-default);
	--bs-nav-link-hover-color: var(--text-brand-default);
	--bs-nav-underline-link-active-color: var(--text-brand-default); */

	--bs-nav-pills-link-active-bg: var(--bg-brand-default);

    --bs-primary-rgb: 0, 120, 212;
}

body {
	background-color: var(--bg-default-default);
	font-family: var(--font-family), sans-serif;
	color: var(--text-neutral-default);
	
	line-height: 1.5;
}

a {
	color: var(--text-neutral-default);
	text-decoration: none;
}

a:hover {
	color: var(--text-brand-tertiary);
}

a:active {
	border: none;
}

a[onclick] {
	cursor: pointer;
}

.hangul_fallback {
	font-family: var(--font-family), sans-serif;
}
/* 
.text-primary {
	color: var(--text-brand-tertiary) !important;
}

.text-danger {
	color: var(--text-danger-tertiary) !important;
}

.text-success {
	color: var(--text-positive-tertiary) !important;
}

.text-warning {
	color: var(--text-warning-tertiary) !important;
} */


/* scroll */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: var(--bg-default-secondary);
}

::-webkit-scrollbar-thumb {	
	border-radius: 3px;
	background-color: var(--border-neutral-secondary);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

/* another scroll style */
.scroll-hide::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

.scroll-hide:hover::-webkit-scrollbar,
.scroll-hide:hover::-webkit-scrollbar-track {
	width: 6px;
	background-color: var(--slate-100);
}

.scroll-hide:hover::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: var(--slate-300);
}

/* date, time picker icon */
::-webkit-calendar-picker-indicator {
	background: transparent;
	cursor: pointer;
}

/* BS override */
.btn-primary {
    --bs-btn-bg: var(--blue-500);
    --bs-btn-border-color: var(--blue-500);
    --bs-btn-hover-bg: var(--blue-600);
    --bs-btn-hover-border-color: var(--blue-600);
    --bs-btn-active-bg: var(--blue-700);
    --bs-btn-active-border-color: var(--blue-700);
    --bs-btn-disabled-bg: var(--blue-500);
    --bs-btn-disabled-border-color: var(--blue-500);
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bg-neutral-secondary);
    --bs-btn-border-color: var(--border-neutral-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bg-neutral-tertiary);
    --bs-btn-hover-border-color: var(--border-neutral-tertiary);
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bg-neutral-tertiary);
    --bs-btn-active-border-color: var(--border-neutral-tertiary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bg-neutral-secondary);
    --bs-btn-disabled-border-color: var(--border-neutral-secondary);
}